<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title th:text="#{storep}"></title>
	
</head>
<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a> 
			<p><h5 th:text="#{hi} + ', '"></h5><h5 sec:authentication="name"></h5></p>	
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form>		
		</div>					
	</div>
	<div class="rowP">
		<div class="col-3 menu">
			<ul>
				<li><a href="/productos" th:text="#{listprod}"></a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/producto/nuevo" th:text="#{newprod}"></a></li>
			</ul>
		</div>
		<div class="col-9">
		  <h2 th:text="#{wellcome}"></h2>
		  <p th:text="#{wellmesssag}"></p>	  
		</div>
	</div>
</body>
</html>