<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<link th:href="@{/css/estilos.css}" rel="stylesheet"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title th:text="#{storep}"></title>
</head>
<body>
	<div class="headerP">
		<h1 th:text="#{storep}"></h1>	
		<div class="lan">	
			<a href="?lang=es"><img class="iconolan" alt="" th:src="@{/images/es.png}"/></a>
			<a href="?lang=en"><img class="iconolan" alt="" th:src="@{/images/en.png}"/></a>
			<p><h5 th:text="#{hi} + ', '"></h5><h5 sec:authentication="name"></h5></p>	
			<form th:action="@{/logout}" method="post">
				<input id="btsingout" type="submit" th:value="#{singout}"/>
			</form>	  			
		</div>					
	</div>
	<div class="rowP">
		<div class="col-3 menu">
			<ul>
				<li><a href="/" th:text="#{home}"></a></li>
				<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/producto/nuevo" th:text="#{newprod}"></a></li>
			</ul>
		</div>
		<div class="col-9">
			<h2 th:text="#{listprod}"></h2>
		    <div class="newpform" th:if="${not #lists.isEmpty(productos)}">     
		        <table class="tablelist">
		            <tr>
		                <th th:text="#{code}"></th>
		                <th th:text="#{name}"></th>
		                <th th:text="#{description}"></th>
		                <th th:text="#{price}"></th> 
		                <th sec:authorize="hasRole('ROLE_ADMIN')"></th> 
		                <th sec:authorize="hasRole('ROLE_ADMIN')"></th> 
		                <th></th>
		            </tr>
		            <tr th:each="producto : ${productos}">
		                <td th:text="${producto.codigo}"></td>
		                <td th:text="${producto.nombre}"></td>
		                <td th:text="${producto.descripcion}"></td>
		                <td th:text="' $ ' + ${producto.precio}"></td>
		                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="${'/producto/editar/' + producto.codigo}" th:text="#{edit}"></a></td>
		                <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="${'/producto/borrar/' + producto.codigo}" th:text="#{delete}"></a></td>
		                <td><a th:href="${'/producto/' + producto.codigo}" th:text="#{view}"></a></td>
		            </tr>
		        </table>
		    </div>		    
		</div>
	</div>
</body>
</html>




<!-- 
<h1>Lista de productos</h1>

<table>
	<tr>
		<th>Código</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Precio</th>
	</tr>
	<tr th:each="pro : ${sproductos}">
		<td th:text="${pro.codigo}"/>
		<td th:text="${pro.nombre}"/>
		<td th:text="${pro.descripcion}"/>
		<td th:text="${pro.precio}"/>
		<td><a href="borrar.html">Borrar producto</a></td>			
	</tr>
</table>
<br/>
	<a th:href="@{/nuevo.html}">Ingresar producto</a>
 -->